<%= form_tag "/authenticate", id: "login_form" do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :a, @challenge %>

  <div class="form-group">
    <%= label_tag :username, "Username:", :class=>"control-label" %>
    <%= text_field_tag :username, nil, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Password:", :class=>"control-label" %>
    <input id="password" type="password" class="form-control" />
  </div>

  <div class="form-group">
    <%= label_tag :c, "C:", :class=>"control-label" %>
    <%= text_field_tag :c, nil, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :z, "Z:", :class=>"control-label" %>
    <%= text_field_tag :z, nil, :class=>"form-control" %>
  </div>

  <%= submit_tag "Login", :class=>'btn btn-primary' %>
<% end %>
