<%= form_tag("/challenge", method: "post", remote: true) do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

  <br>

  <label for="password">Password</label> <br>
  <input id="password" type="password" /><br />

  <%= text_field_tag(:random_challenge) %>

  <div class="actions">
    <%= submit_tag("Login") %>
  </div>
<% end %>
