<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <label for="password">Password</label> <br>
  <input id="password" type="password" /><br />

  <div class="field"style="display: none;">
    <%= f.label :publickey %><br>
    <%= f.text_area :publickey %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render(:partial=>"users/regscript") %>
